@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}
.custom-calendar {
  @apply z-20
}


.table-cell-styles {
  @apply text-start text-sm p-2;
}

.table-header-styles {
  @apply text-start text-sm sticky top-0 bg-white z-0 shadow-custom-dark;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* styles.css */
.multi-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

